<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="Crexta.Data" type="Crexta.Data.Bases.NetTiersServiceSection, Crexta.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crexta.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <add name="netTiersConnectionString" connectionString="Data Source=ORION\SQL2005;Initial Catalog=crexta;Persist Security Info=True;User ID=crexta;Password=crexta"/>
  </connectionStrings>

  <log4net configSource="log4net.config"/>
  
  <Crexta.Data defaultProvider="SqlNetTiersProvider">
    <providers>

      <add name="SqlNetTiersProvider" type="Crexta.Data.SqlClient.SqlNetTiersProvider, Crexta.Data.SqlClient" connectionStringName="netTiersConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="Crexta.Business.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useCrextordProcedure="false"/>

    </providers>
  </Crexta.Data>

  <system.net>
    <settings>
      <socket alwaysUseCompletionPortsForAccept="true" alwaysUseCompletionPortsForConnect="true"/>
    </settings>
  </system.net>

  <system.diagnostics>
    <sources>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="Sockets"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <!-- The value tag below is a TraceLevel enumeration. Change it to start logging. -->
      <add name="System.Net.Sockets" value="Off"/>
    </switches>

    <sharedListeners>
      <add name="Sockets" type="System.Diagnostics.TextWriterTraceListener" initializeData="Sockets.log"/>
    </sharedListeners>

    <trace autoflush="true"/>

  </system.diagnostics>

  <applicationSettings>
    <Crexta.Server.Properties.Settings>
      <setting name="Server_me_u2m_WebService" serializeAs="String">
        <value>http://u2m.me/ws/webservice.asmx</value>
      </setting>
    </Crexta.Server.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
