<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="abbSolutions.Communication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="abbSolutions.Communications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <abbSolutions.Communication.Properties.Settings>
            <setting name="MaxSimultaneousIncomingConnections" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MaxSendThreads" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxReceiveThreads" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxProcessThreads" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxAcceptIncomingThreads" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="JoinPacketsIfSizeBelow" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="MaxIncomingBytesToReadAtOnce" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="MaxOutgoingPacketSize" serializeAs="String">
                <value>131072</value>
            </setting>
        </abbSolutions.Communication.Properties.Settings>
        <abbSolutions.Communications.Properties.Settings>
            <setting name="MaxSimultaneousIncomingConnections" serializeAs="String">
                <value>16</value>
            </setting>
        </abbSolutions.Communications.Properties.Settings>
    </userSettings>
</configuration>