<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crexta.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
  </connectionStrings>

  <log4net configSource="log4net.config"/>

  <system.net>
    <settings>
      <socket alwaysUseCompletionPortsForAccept="true" alwaysUseCompletionPortsForConnect="true"/>
    </settings>
  </system.net>

  <system.diagnostics>
    <sources>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="Sockets"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <!-- The value tag below is a TraceLevel enumeration. Change it to start logging. -->
      <add name="System.Net.Sockets" value="Off"/>
    </switches>

    <sharedListeners>
      <add name="Sockets" type="System.Diagnostics.TextWriterTraceListener" initializeData="Client_Sockets.log"/>
    </sharedListeners>

    <trace autoflush="true"/>

  </system.diagnostics>

  <applicationSettings>
    <Crexta.Client.Properties.Settings>
      <setting name="Client_com_crexta_www_CrextaWS" serializeAs="String">
        <value>http://www.crexta.com/ws/CrextaWS.asmx</value>
      </setting>
      <setting name="Client_localhost_CrextaWS" serializeAs="String">
        <value>http://localhost/ws/CrextaWS.asmx</value>
      </setting>
      <setting name="Crexta_Client_localhost_CrextaWS" serializeAs="String">
        <value>http://localhost/ws/crextaws.asmx</value>
      </setting>
      <setting name="Crexta_Client_com_crexta_www_CrextaWS" serializeAs="String">
        <value>http://www.crexta.com/ws/crextaws.asmx</value>
      </setting>
    </Crexta.Client.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
